In [80]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 320
df_scrape = pd.read_csv("/Users/jorit/Git/HLS-scraper/hls_dump/22_10_22_hls_people_hist_hub_flair.csv", sep=";")

In [97]:
# removing weird character locations
df_scrape["flair_locations"] = df_scrape["flair_locations"].str.split(",").apply(lambda x: np.nan if type(x) is float else [item for item in x if len(item) > 2]).apply(lambda x: np.nan if type(x) is float else ",".join(x))
df_scrape["flair_locations"].str.split(",").explode().value_counts()

Zürich                        13467
Bern                           9256
Basel                          8659
Genf                           7721
Schweiz                        4578
                              ...
Gasthof zur Krone                 1
Hotel Kronenhof Bellavista        1
Grand Hotel Kronenhof             1
Baltschiedertal                   1
Burg Bresnitz                     1
Name: flair_locations, Length: 19508, dtype: int64

In [82]:
df_scrape["flair_organizations"] = df_scrape["flair_organizations"].str.split(",").apply(lambda x: np.nan if type(x) is float else [item for item in x if len(item) > 1]).apply(lambda x: np.nan if type(x) is float else ",".join(x))
df_scrape["flair_organizations"].str.split(",").explode().value_counts()

ETH Zürich                                       997
Schweiz                                          905
SP                                               423
Bern                                             352
Zürich                                           334
                                                ...
Neuen Vorwärts                                     1
Fraumünsterabtei                                   1
Creditanstalt Zug                                  1
Jahrbücher für Nationalökonomie und Statistik      1
Züst und Bachmeier AG                              1
Name: flair_organizations, Length: 27154, dtype: int64

In [83]:
df_scrape["flair_misc"] = df_scrape["flair_misc"].str.split(",").apply(lambda x: np.nan if type(x) is float else [item for item in x if len(item) > 1]).apply(lambda x: np.nan if type(x) is float else ",".join(x))
df_scrape["flair_misc"].str.split(",").explode().value_counts()

1 . Weltkrieg        124
Gulden               107
2 . Weltkrieg         85
2 . Weltkriegs        72
Sonderbundskrieg      70
                    ...
Vernets d'Arve         1
Lehren der             1
Sarnafil               1
Au gré des choses      1
Missale                1
Name: flair_misc, Length: 12761, dtype: int64

In [84]:
df_scrape["flair_person"] = df_scrape["flair_person"].str.split(",").apply(lambda x: np.nan if type(x) is float else [item for item in x if len(item) > 2]).apply(lambda x: np.nan if type(x) is float else ",".join(x))
df_scrape["flair_person"].str.split(",").explode().value_counts()

Jakob                          937
Johannes                       926
Heinrich                       921
Johann                         652
Hans                           600
                              ...
Franziskus Ziegler               1
Katharina Altorfer               1
Lot Stimmer                      1
Margaretha Catharina Helena      1
Catharina Hiltbrunner            1
Name: flair_person, Length: 66337, dtype: int64

In [119]:
#count unique values string split by comma
df_scrape["flair_locations"].str.split(",").explode().value_counts()

Zürich                        13467
Bern                           9256
Basel                          8659
Genf                           7721
Schweiz                        4578
                              ...
Gasthof zur Krone                 1
Hotel Kronenhof Bellavista        1
Grand Hotel Kronenhof             1
Baltschiedertal                   1
Burg Bresnitz                     1
Name: flair_locations, Length: 19508, dtype: int64

In [126]:
df_locations = pd.DataFrame(df_scrape["flair_locations"].str.split(",").explode().unique())
df_locations.columns = ["location"]

In [136]:
df_locations

                    location
0                Pfullendorf
1                      Baden
2                  Solothurn
3                       Prag
4                       Wien
...                      ...
19504            Stadtheater
19505           Historischen
19506  Pinacoteca Ambrosiana
19507               Ödisried
19508          Burg Bresnitz

[19509 rows x 1 columns]

In [140]:
# pandas filter out all locations which contain a number as character
df_locations_cleaned = df_locations[df_locations["location"].str.contains(r"\d") == False]

In [141]:
# dataframe to csv
df_locations_cleaned.to_csv("./22_10_22_flair_locations_base.csv", sep=";", index=False)